// close icons on the tabs	
$padding-centralise: 23%;


.fa-times{
	float:right;
	position:relative;
	bottom:42px;
	font-size:0.75em;
	padding-right:3px;

}

.select_voice {
	display:none;
}

#tfnewsearch {
	padding: 0 $padding-centralise;
	margin-bottom:24px;
}

.nav-tabs{
	padding: 0 $padding-centralise;
	text-align:center;
	border-bottom:none!important;
}

.title-container{
	display:block;
	margin: 0 auto;
	text-transform:capitalize;
	margin-bottom:-11px;

}

.articles-list{
	text-align: left;
	display: inline-block;
	width:500px;
}


.tab-content {
}




.tab-bar {
	text-align:center;
}

#myTab li{
	// float: left;
    // margin-left: auto ;
    // margin-right: auto ;
    display:inline;
}
// languages icons
#charSelector{
	text-align:center;
}