// close icons on the tabs	
$padding-centralise: 23%;


.fa-times{
	float:right;
	position:relative;
	bottom:42px;
	font-size:0.75em;
	padding-right:3px;

}

.select_voice {
	display:none;
}

#tfnewsearch {
	padding: 0 $padding-centralise;
	margin-bottom:24px;
}

.nav-tabs{
	padding: 0 $padding-centralise;
	text-align:center;
	margin-bottom:16px;
	}

.nav-tabs>li {

margin-bottom: -12px!important;
}

.title-container{
	display:block;
	margin: 0 auto;
	text-transform:capitalize;
	margin-bottom:-11px;

}

.articles-list{
	text-align: left;
	display: inline-block;
	width:500px;
}

.articles-list li{
	// border: 1px solid black;
	margin-bottom:8px;
}

.tab-content {
}




.tab-bar {
	text-align:center;
	margin-top:14px;
}

#myTab li{
	// float: left;
    // margin-left: auto ;
    // margin-right: auto ;
    display:inline;

}

.tftextinput{
	margin-right:-5px;
}
// languages icons
#charSelector{
	text-align:center;
}

#character_activator{
	// background-color:#004587;
	color:white;
	background: -webkit-gradient(linear, left top, left bottom, from(#004587), to(#0078a5));
	background: -moz-linear-gradient(top,  #004587,  #0078a5);
}